# OS and editor-specific files
.DS_Store
Thumbs.db

# note files
MEMO.md

# Docker-related files
docker/**/*.env
docker/frontend/node_modules
docker-compose.override.yml

# Environment configuration files (global exclusion)
.env
.env.local
*.env

# Exclude Next.js build directories within frontend
frontend/.next
frontend/out
